# FileName=caddy.container
[Unit]
Description=Caddy Container
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/johnlevandowski/caddy-cloudflare:latest
HostName=caddy

PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp

Environment=ACME_AGREE=true LANDOMAIN=lan.example.com TSDOMAIN=ts.example.com

Volume=/home/john/Documents/GitHub/caddy-cloudflare/site/:/srv:z
Volume=/home/john/Documents/GitHub/caddy-cloudflare/Caddyfile:/etc/caddy/Caddyfile:z
Volume=caddy_data:/data:z
Volume=caddy_config:/config:z

Secret=CLOUDFLARE_API_TOKEN

[Service]
Restart=always

[Install]
WantedBy=default.target
